<div class="container">

    <h1>To-Do Application</h1>

    <hr>
    <form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
        <div class="form-group">
            <label for="task">Task</label>
            <input type="text" class="form-control" id="task" placeholder="Enter task" ngModel name="task" required>
            <small *ngIf="taskForm.invalid && taskForm.dirty" id="errorMessage" class="form-text text-danger">Required
                field</small>
        </div>

        <button [disabled]="taskForm.invalid" id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Completed</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskArray; index as i">
                <td>
                  <ng-container *ngIf="!t.isEditing">{{ t.taskName }}</ng-container>
                  <ng-container *ngIf="t.isEditing"><input [(ngModel)]="t.taskName" name="taskName"></ng-container>
                </td>
                <td>
                  <input type="checkbox" [checked]="t.isCompleted" (change)="onCheck(i)">
                </td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="t.isEditing = !t.isEditing">
                    <ng-container *ngIf="!t.isEditing">Update</ng-container>
                    <ng-container *ngIf="t.isEditing">OK</ng-container>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="onDelete(i)">Delete</button>
                </td>
              </tr>

        </tbody>
    </table>
</div>